.product-card {
    padding: 5px;
    background-color: white;
    border-radius: .875rem;
    overflow: hidden;
    ;
}

.product-details h6 {
    color: var(--color-bf4800);
    font-size: .875rem;
}

.product-details h5 {
    font-size: .995rem;
    color: var(--color-131921);
}

.product-details .price {
    font-size: 1rem;
    color: var(--color-1c1c1b);
}

.action-bar {
    top: 10%;
    left: -23px;
    transition: 0.3s;
}

.product-card:hover .action-bar {

    /* right: 0px; */
    left: 0px;
}

.product-card .product-image>img:last-child {
    display: none;
}

.product-card:hover .product-image>img:first-child {
    display: none;
}

.product-card:hover .product-image>img:last-child {
    display: block;
}

.product-card .product-image {
    height: 270px;
    cursor: pointer;
}

.product-card .prduct-image img {
    object-fit: contain;
}

.wishlist-icon {
    left: 4px
}

.gr-12 {
    width: 100%;
}

.gr-6 {
    width: 49.5%;
}

.gr-4 {
    width: 32%;
}

.gr-3 {
    width: 24%;
}

.gr-12 .product-card {
    display: flex;
    gap: 20px;
}

.gr-12 .product-card .product-image {
    width: 270px;
    height: auto;
}

.gr-12 .product-card .product-image {
    height: auto;
}



.gr-6 .product-card .product-image {
    width: 100%;
}

.gr-6 .product-card .product-image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gr-4 .product-card .product-image {
    width: 100%;
}

.gr-4 .product-card .product-image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gr-3 .product-card .product-image {
    width: 100%;
}

.gr-3 .product-card .product-image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-card .describtion {
    color: var(--color-777);
    font-size: 13px;
    margin-right: 1.3rem;
}